{% extends 'form--admin.html.twig' %}

{% set headline = '<h1 class="c-column"><strong>' ~ "CMS Login"|trans ~ '</strong></h1>' %}
{% set links = '<a class="c-column" href="/user/password" class="link">' ~ "Reset Password"|trans ~ '</a>' %}