{% extends 'form--admin.html.twig' %}

{% set headline = '<h1 class="c-column"><strong>' ~ "Reset Password"|trans ~ '</strong></h1>' %}
{% set links = '<a class="c-column" href="/user" class="link">' ~ "Go back to login"|trans ~ '</a>' %}