// BREAKPOINTS
// Settings: min or max
$media-direction:       min;

// Settings: Breakpoints
$breakpoints: (
  'default':            '',
  'xs':                 480px,
  's':                  667px,
  'm':                  1024px,
  'l':                  1280px,
  'xl':                 1680px,
);

// Mixin itself
@mixin breakpoint($breakpoint,$direction: $media-direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;
    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

// CENTERING
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// ABSOLUTE AND FULLSIZE POSITIONING
@mixin positionAbsoluteFullsize {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 100%; height: 100%;
}
