// COLORS

// TYPO
// Typo sizes
$typo-size-small:   0.857142857rem;  // 12px
$typo-size-base:    1rem;            // 14px
$typo-size-mid:     1.285714286rem;  // 18px
$typo-size-medium:  1.428571429rem;  // 20px
$typo-size-large:   1.714285714rem;  // 24px
$typo-size-xlarge:  2.571428571rem;  // 36px
