// COLORS
$color-primary: #bada55;

$color-secondary: #28b3bf;

$color-gray: #9b9b9b;
$color-gray-light: #e9e9e9a6;
$color-gray-dark: #4a4a4a;

// TYPO
// Typo families
$typo-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$typo-family-headline: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

// Typo sizes
$typo-size-small: 0.857142857rem; // 12px
$typo-size-base: 1rem; // 14px
$typo-size-mid: 1.285714286rem; // 18px
$typo-size-medium: 1.428571429rem; // 20px
$typo-size-large: 1.714285714rem; // 24px
$typo-size-xlarge: 2.571428571rem; // 36px
