{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-container layout-container--maintenance">

  {% if logo %}
    <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
  {% endif %}

  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}

  <p>{{ page.content }}</p>

</div>
