// FRONTEND ADMIN STYLES
// Admin Toolbar
#toolbar-administration {
  a {
    text-decoration: none;
  }

  .toolbar-tray-horizontal {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-menu .toolbar-menu {
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

// Admin Tabs
nav.tabs {
  ul.tabs.primary {
    display: flex;
    border: 2px solid #d4d4d4;
    background-color: #d4d4d4;
    border-radius: 4px;
    align-items: flex-end;

    li {
      margin-right: 2px;
      flex: 1 1 auto;
      text-align: center;
      max-width: 170px;

      a {
        color: rgba(0, 0, 0, .35);
        line-height: 100%;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 8px;
        transition: all .2s ease-in-out;
        white-space: nowrap;

        &.is-active,
        &:hover {
          background-color: white;
          color: rgba(0, 0, 0, .55);
        }
      }
    }
  }
}
