.section {
  width: 100%;
  max-width: 1210px;
  margin: 0;
  padding: 0;

  &__row {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;

    @include breakpoint('s') {
      padding: 0 40px;
    }

    @include breakpoint('m') {
      padding: 0 60px;
    }
  }

  &__columns {
    margin: -20px;
    display: flex;
    flex-direction: column;
  }

  &__column {
    flex: 1;
    margin: 20px;
  }
}

// Debugging
.section {
  border: 1px solid gold;

  &__row {
    border: 1px solid green;
  }

  &__column {
    border: 1px solid red;
  }
}
