// Basic Rows
.row {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;

  @include breakpoint('s') {
    padding: 0 40px;
    max-width: 1250px;
  }

  // Debugging
  // * {
  //   border: 1px solid gold;
  // }
}
