.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--page-max-width);
    margin: 0 auto;
  }
}
