<div id="cookie-banner">
  <div class="content">
    <div class="content__text">
      <p>Um die Webseite optimal gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu. <a class="link" href="/datenschutz">Weitere Informationen erhalten Sie im Datenschutz.</a></p>
    </div>
    <div class="content__buttons">
      <a class="button more">Bestätigen</a>
    </div>
  </div>
</div>